.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.calculator-container {
  width: 320px;
  height: 400px;
  margin: 200px;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: #ccc;
  width: 320px;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.button {
  width: 320px;
  height: 320px;
  display: flex;
}

.left-side {
  flex: 75%;
}

.right-side {
  flex: 25%;
}

.numbers {
  width: 240px;
  height: 240px;

  display: flex;
  flex-wrap: wrap;
}

#button-container {
  width: 238px;
  height: 78px;
  display: flex;
}

.clear-result-container{
  width: 238px;
  height: 78px;
  border: 1px solid #ccc;
  display: flex;
}

#seeResult {
  width: 78px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: rgb(197, 159, 89);
}

#clearResult {
  width: 78px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: rgb(177, 150, 110);
}

#backSpaceDelete {
  width: 78px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: rgb(177, 150, 110);
}

.individualNumber {
  width: 78px;
  height: 78px;
  background-color: blanchedalmond;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}


.individualOperators {
  width: 78px;
  height: 78px;
  background-color: rgb(243, 209, 158);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}